In [35]:
# Initial Imports - for python "folder gymnastics"

import sys
from pathlib import Path

# Get directory of current notebook, go up two levels, and convert to a string
root_path = str(Path.cwd().parent.parent)
print("Root Path:", root_path)

# Add that root directory to sys.path so Python can "see" config.py
if root_path not in sys.path:
    sys.path.append(root_path)

# Get database config info
from config import DATABASE_URL

Root Path: /Users/chuck/swdev/med/med-z1

In [36]:
# Additional Imports

import pandas as pd
from sqlalchemy import create_engine

In [37]:
# Create Database Connection

print("Database URL:", DATABASE_URL)

# Create database connection
engine = create_engine(DATABASE_URL)

Database URL: postgresql://postgres:AllieD-1993-2025-z1@localhost:5432/medz1

In [ ]:
# Let's try a database query (encounters + demographics)

# Query 1
pt_encounters_count = """
    select count(*)
    from clinical.patient_encounters
"""

# Query 2
pt_encounters_query = """
SELECT
    e.patient_key,
    d.name_first as first,
    d.name_last as last,
    d.age,
    d.sex,
    e.sta3n,
    e.admitting_provider_name as admit_provider,
    e.admit_datetime::DATE as admit_date,
    e.discharge_datetime::DATE as discharge_date,
    e.discharge_disposition as disposition
FROM clinical.patient_encounters as e
INNER JOIN clinical.patient_demographics AS d 
    ON e.patient_key = d.patient_key
WHERE e.discharge_datetime IS NOT NULL
    AND d.patient_key LIKE 'ICN%%'
ORDER BY e.patient_key, e.discharge_datetime
"""

# Load query into DataFrame and display
pt_encounters_df = pd.read_sql(pt_encounters_count, engine)
print("Patient Encounters Count:", pt_encounters_df.iloc[0, 0])
print("-" * 45)

# Load query into pandas DataFrame and display
pt_encounters_df = pd.read_sql(pt_encounters_query, engine)
print(f"Query Results Shape: {pt_encounters_df.shape}")
pt_encounters_df.head(60)

In [ ]:
# Take a look at patient_demographics

# Create Query
pt_demographics_query = """
SELECT
    d.patient_key,
    d.patient_sid as pt_sid,
    d.icn,
    d.ssn,
    d.ssn_last4 as last4,
    d.name_last as last,
    d.name_first as first,
    d.name_display,
    d.dob,
    d.age,
    d.sex,
    d.primary_station as station,
    d.primary_station_name,
    d.address_street1 as address_st1,
    d.address_street2 as address_st2,
    d.address_city,
    d.address_state as state,
    d.address_zip as zip,
    d.phone_primary as phone,
    d.insurance_company_name,
    d.marital_status,
    d.religion,
    d.service_connected_percent as disability,
    d.deceased_flag as deceased,
    d.death_date,
    d.source_system,
    d.last_updated::date
FROM clinical.patient_demographics as d
-- WHERE d.patient_key LIKE 'ICN%%'
ORDER BY d.patient_key
"""

# Load query into pandas DataFrame and display
pt_demographics_df = pd.read_sql(pt_demographics_query, engine)
print(f"Query Results Shape: {pt_demographics_df.shape}")
pt_demographics_df.head(60)

In [ ]:
# Take a look at the new military_history table

# Create Query
military_history_query = """
SELECT
    patient_key,
    icn,
    service_connected_flag as dis_flag,
    service_connected_percent as dis_percent,
    agent_orange_exposure as orange_exp,
    agent_orange_location as orange_loc,
    ionizing_radiation as ion_rad,
    pow_status,
    pow_location,
    shad_flag,
    sw_asia_exposure as sw_asia_exp,
    camp_lejeune_flag as lejeune,
    source_system,
    last_updated::date
FROM clinical.patient_military_history
ORDER BY patient_key
"""

# Load query into pandas DataFrame and display
military_history_df = pd.read_sql(military_history_query, engine)
print(f"Query Results Shape: {military_history_df.shape}")
military_history_df.head(60)

In [39]:
# Take a look at the new patient_problems table

# Create Query
patient_problems_query = """
SELECT
    problem_id,
    problem_sid,
    patient_sid
FROM clinical.patient_problems
ORDER BY patient_key
"""

# Load query into pandas DataFrame and display
patient_problems_df = pd.read_sql(patient_problems_query, engine)
print(f"Query Results Shape: {patient_problems_df.shape}")
patient_problems_df.head(60)

Query Results Shape: (72, 3)

    problem_id  problem_sid  patient_sid
0            1         1010         1001
1            2         1003         1001
2            3         2004         1001
3            4         2007         1001
4            5         1005         1001
5            6         1008         1001
6            7         1006         1001
7            8         2003         1001
8            9         1013         1001
9           10         2002         1001
10          11         1014         1001
11          12         1007         1001
12          13         2006         1001
13          14         1001         1001
14          15         2001         1001
15          16         2008         1001
16          17         1009         1001
17          18         1002         1001
18          19         1011         1001
19          20         1012         1001
20          21         2005         1001
21          22         1004         1001
22          23         1016         1002
23          24         1020         1002
24          25         1019         1002
25          26         1018         1002
26          27         1017         1002
27          28         1015         1002
28          29         1023         1002
29          30         1022         1002
30          31         1021         1002
31          32         1025         1003
32          33         1026         1003
33          34         1027         1003
34          35         1024         1003
35          36         1028         1003
36          37         1039         1005
37          38         1040         1005
38          39         1041         1005
39          40         1044         1006
40          41         1042         1006
41          42         1043         1006
42          43         1048         1007
43          44         1053         1007
44          45         1051         1007
45          46         1052         1007
46          47         1047         1007
47          48         1054         1007
48          49         1046         1007
49          50         1045         1007
50          51         1050         1007
51          52         1055         1007
52          53         1049         1007
53          54         1031         1010
54          55         2012         1010
55          56         1034         1010
56          57         2017         1010
57          58         1036         1010
58          59         2011         1010
59          60         1032         1010