In [ ]:
# Getting Started...

In [1]:
# Initial Imports
# For proper python "folder gymnastics"

import sys
from pathlib import Path

# Get the directory of the current notebook, go up two levels, and convert to a string
root_path = str(Path.cwd().parent.parent)

# Add that root directory to sys.path so Python can "see" config.py
if root_path not in sys.path:
    sys.path.append(root_path)

from config import DATABASE_URL

Loaded config from: /Users/chuck/swdev/med/med-z1/.env
      Project root: /Users/chuck/swdev/med/med-z1
    CDWWORK server: 127.0.0.1,1433 / DB: CDWWork
   CDWWORK2 server: 127.0.0.1,1433 / DB: CDWWork2
    MinIO endpoint: localhost:9000, bucket: med-z1
         USE_MINIO: True
        PostgreSQL: localhost:5432 / DB: medz1
      CCOW enabled: True, URL: http://localhost:8001
     Vista enabled: True, URL: http://localhost:8003
   Session timeout: 25 minutes

In [2]:
# Additional Imports
# For Apple Silicon machines: brew install libomp
import pandas as pd
import sklearn
import xgboost as xgb
import shap
import imblearn

from sqlalchemy import create_engine

In [3]:
# Show library version numbers

print(f"Pandas:       {pd.__version__}")
print(f"Scikit-Learn: {sklearn.__version__}")
print(f"XGBoost:      {xgb.__version__}")
print(f"SHAP:         {shap.__version__}")
print(f"ImbLearn:     {imblearn.__version__}")

print(f"DATABASE_URL: {DATABASE_URL}")

Pandas:       2.3.3
Scikit-Learn: 1.8.0
XGBoost:      3.1.3
SHAP:         0.50.0
ImbLearn:     0.14.1
DATABASE_URL: postgresql://postgres:AllieD-1993-2025-z1@localhost:5432/medz1

In [4]:
# Connecting to med-z1 PostgreSQL
# Database Schema to Query:
#  - clinical.patient_encounters - Hospital admissions (your target events)
#  - clinical.patient_demographics - Age, sex, DOB
#  - clinical.patient_medications_outpatient - Active meds (polypharmacy feature)
#  - clinical.patient_vitals - BP, weight, temp (clinical instability features)
#  - clinical.patient_labs - Creatinine, Hgb (abnormal lab features)

# Create database connection
engine = create_engine(DATABASE_URL)

In [5]:
# Let's try a database query (patient_demographics)

patient_demographics_query = """
SELECT
    patient_key,
    patient_sid,
    icn,
    ssn,
    name_last,
    name_first,
    age
FROM clinical.patient_demographics
ORDER BY name_last
"""

# Load into pandas DataFrame
patient_demographics_df = pd.read_sql(patient_demographics_query, engine)

patient_demographics_df

,patient_key,patient_sid,icn,ssn,name_last,name_first,age
0,ICN100007,1007,ICN100007,111221007,Amajor,Adam,86
1,ICN100010,1010,ICN100010,111221010,Aminor,Alexander,60
2,1022V789012,1022,1022V789012,444401022,Anderson,James,62
3,ICN100017,1027,ICN100017,999991027,Anderson,Robert,47
4,ICN100008,1008,ICN100008,111221008,Bmajor,Barry,65
5,1018V345678,1018,1018V345678,999991018,Chen,David,43
6,ICN100009,1009,ICN100009,111221009,Cmajor,Claire,66
7,ICN100001,1001,ICN100001,123456789,Dooree,Adam,46
8,ICN100005,1005,ICN100005,111111105,Dooree,Edward,44
9,1021V678901,1021,1021V678901,333301021,Garcia,Patricia,59
10,ICN100011,1011,ICN100011,222221011,Harris,George,72
11,1016V123456,1016,1016V123456,777771016,Johnson,Marcus,29
12,ICN100014,1014,ICN100014,555551014,Kim,Joyce,70
13,1023V890123,1023,1023V890123,555501023,Lee,Barbara,68
14,1025V012345,1025,1025V012345,777701025,Martinez,Dorothy,80
15,ICN100012,1012,ICN100012,333331012,Martinez,Helen,68
16,ICN100006,1006,ICN100006,111111106,Miifaa,Francine,44
17,ICN100002,1002,ICN100002,987654321,Miifaa,Barry,51
18,1019V456789,1019,1019V456789,111101019,Rodriguez,Linda,49
19,ICN100003,1003,ICN100003,111111111,Soola,Carol,36
20,ICN100013,1013,ICN100013,444441013,Thompson,Irving,77
21,1020V567890,1020,1020V567890,222201020,Thompson,Robert,54
22,ICN100004,1004,ICN100004,111112222,Tiidoo,Debby,72
23,1024V901234,1024,1024V901234,666601024,White,Charles,75
24,1017V234567,1017,1017V234567,888881017,Williams,Sarah,36
25,ICN100015,1015,ICN100015,666661015,Wilson,Kenneth,82
26,ICN100016,1026,ICN100016,888881026,Wilson,Margaret,87
27,ICN1044960811,1606025,ICN1044960811,000001235,ZZ,PATIENT,84
28,ICN1012921808,1606021,ICN1012921808,000005288,ZZDUCK,DONN,125
29,ICN1018126026,1606027,ICN1018126026,000002158,ZZTEST,MOLLIE,76
30,ICN1011936271,1606030,ICN1011936271,000000145,ZZTEST,BILL,81
31,ICN1011533925,1606024,ICN1011533925,000009934,ZZTEST,DONNA R,30
32,ICN1051720886,1606023,ICN1051720886,000000970,ZZTEST,APPLE,55
33,ICN1060349008,1606022,ICN1060349008,000000188,ZZTEST,ABC,38
34,ICN1019425664,1606020,ICN1019425664,000005003,ZZTEST,CCINDY,65
35,ICN1021290240,1606028,ICN1021290240,000005550,ZZTEST,CHI,89
36,ICN1018448811,1606029,ICN1018448811,000005755,ZZTEST PAT,FIVE,80
37,ICN1011530429,1606026,ICN1011530429,000008887,ZZZ,TEST,53

In [26]:
# Let's try a database query (patient_encounters)

# Query 1
pt_encounters_count = """
    select count(*)
    from clinical.patient_encounters
"""

# Query 2
pt_encounters_query = """
SELECT
    e.patient_key,
    d.name_first as first,
    d.name_last as last,
    d.age,
    d.sex,
    e.sta3n,
    e.admitting_provider_name as admit_provider,
    e.admit_datetime::DATE as admit_date,
    e.discharge_datetime::DATE as discharge_date,
    e.discharge_disposition as disposition
FROM clinical.patient_encounters as e
INNER JOIN clinical.patient_demographics AS d 
    ON e.patient_key = d.patient_key
WHERE e.discharge_datetime IS NOT NULL
ORDER BY e.patient_key DESC, e.discharge_datetime
"""

# Load Query 1 into pandas DataFrame and display
pt_encounters_df = pd.read_sql(pt_encounters_count, engine)

# Load Query 2 into pandas DataFrame and display
pt_encounters_df = pd.read_sql(pt_encounters_query, engine)
print(f"Shape: {pt_encounters_df.shape}")
pt_encounters_df.head(35)

Shape: (72, 10)

,patient_key,first,last,age,sex,sta3n,admit_provider,admit_date,discharge_date,disposition
0,ICN100017,Robert,Anderson,47,M,528,Carl Sagan,2019-06-20,2019-06-28,TRANSFERRED TO MENTAL HEALTH UNIT
1,ICN100017,Robert,Anderson,47,M,528,Carl Sagan,2023-03-10,2023-03-17,HOME WITH OUTPATIENT FOLLOW-UP
2,ICN100017,Robert,Anderson,47,M,528,Julius Hibbert,2024-11-15,2024-11-15,EXPIRED
3,ICN100016,Margaret,Wilson,87,F,508,Walter Reed,2024-11-25,2024-12-01,EXPIRED
4,ICN100014,Joyce,Kim,70,F,516,Marie Curry,2025-11-17,2025-11-22,SNF
5,ICN100013,Irving,Thompson,77,M,508,Walter Reed,2025-11-20,2025-11-24,Home
6,ICN100012,Helen,Martinez,68,F,688,Carl Sagan,2025-11-25,2025-11-25,Home
7,ICN100011,George,Harris,72,M,552,Florence Nightengale,2025-11-27,2025-11-27,Home
8,ICN100010,Alexander,Aminor,60,M,516,Marie Curry,2025-11-30,2025-11-30,Home
9,ICN100009,Claire,Cmajor,66,F,508,Florence Nightengale,2025-11-28,2025-12-03,Rehab
10,ICN100008,Barry,Bmajor,65,M,688,Florence Nightengale,2025-11-30,2025-12-05,SNF
11,ICN100007,Adam,Amajor,86,M,552,Florence Nightengale,2025-12-01,2025-12-08,Home with O2
12,ICN100006,Francine,Miifaa,44,F,516,Marie Curry,2025-12-05,2025-12-10,Home
13,ICN100005,Edward,Dooree,44,M,508,Walter Reed,2025-12-09,2025-12-12,Home
14,ICN100004,Debby,Tiidoo,72,F,552,Louis Pasteur,2024-05-29,2024-06-03,SNF
15,ICN100004,Debby,Tiidoo,72,F,516,Louis Pasteur,2024-08-07,2024-08-12,Home with O2
16,ICN100004,Debby,Tiidoo,72,F,508,Louis Pasteur,2024-10-16,2024-10-21,Home
17,ICN100004,Debby,Tiidoo,72,F,508,Carl Sagan,2025-03-26,2025-03-30,SNF
18,ICN100004,Debby,Tiidoo,72,F,688,Carl Sagan,2025-04-25,2025-04-29,Home with O2
19,ICN100004,Debby,Tiidoo,72,F,552,Carl Sagan,2025-05-25,2025-05-29,Home
20,ICN100004,Debby,Tiidoo,72,F,516,Carl Sagan,2025-06-24,2025-06-28,Home
21,ICN100004,Debby,Tiidoo,72,F,508,Carl Sagan,2025-07-24,2025-07-28,Rehab
22,ICN100004,Debby,Tiidoo,72,F,688,Carl Sagan,2025-08-23,2025-08-27,SNF
23,ICN100004,Debby,Tiidoo,72,F,552,Carl Sagan,2025-09-22,2025-09-26,Home with O2
24,ICN100004,Debby,Tiidoo,72,F,516,Carl Sagan,2025-10-22,2025-10-26,Home
25,ICN100004,Debby,Tiidoo,72,F,508,Carl Sagan,2025-11-24,2025-11-27,SNF
26,ICN100004,Debby,Tiidoo,72,F,688,Carl Sagan,2025-11-29,2025-12-02,Home with O2
27,ICN100004,Debby,Tiidoo,72,F,552,Carl Sagan,2025-12-04,2025-12-07,Home
28,ICN100001,Adam,Dooree,46,M,688,Julius Hibbert,2024-05-09,2024-05-14,Rehab
29,ICN100001,Adam,Dooree,46,M,552,Julius Hibbert,2024-07-08,2024-07-13,SNF
30,ICN100001,Adam,Dooree,46,M,516,Julius Hibbert,2024-09-06,2024-09-11,Home with O2
31,ICN100001,Adam,Dooree,46,M,508,Julius Hibbert,2024-11-05,2024-11-10,Home
32,ICN100001,Adam,Dooree,46,M,552,Florence Nightengale,2024-12-20,2024-12-24,Home
33,ICN100001,Adam,Dooree,46,M,552,Julius Hibbert,2025-01-25,2025-01-29,Home
34,ICN100001,Adam,Dooree,46,M,516,Julius Hibbert,2025-02-14,2025-02-18,Rehab

In [27]:
# Display again
print(f"Shape: {pt_encounters_df.shape}")
pt_encounters_df.tail(35)

Shape: (72, 10)

,patient_key,first,last,age,sex,sta3n,admit_provider,admit_date,discharge_date,disposition
37,ICN100001,Adam,Dooree,46,M,688,Julius Hibbert,2025-03-26,2025-03-30,Home with O2
38,ICN100001,Adam,Dooree,46,M,552,Julius Hibbert,2025-04-15,2025-04-19,Home
39,ICN100001,Adam,Dooree,46,M,516,Julius Hibbert,2025-05-05,2025-05-09,Home
40,ICN100001,Adam,Dooree,46,M,516,Marie Curry,2025-05-19,2025-05-25,Home
41,ICN100001,Adam,Dooree,46,M,508,Julius Hibbert,2025-05-25,2025-05-29,Rehab
42,ICN100001,Adam,Dooree,46,M,688,Julius Hibbert,2025-06-14,2025-06-18,SNF
43,ICN100001,Adam,Dooree,46,M,552,Julius Hibbert,2025-07-04,2025-07-08,Home with O2
44,ICN100001,Adam,Dooree,46,M,516,Julius Hibbert,2025-07-24,2025-07-28,Home
45,ICN100001,Adam,Dooree,46,M,508,Julius Hibbert,2025-08-13,2025-08-17,Home
46,ICN100001,Adam,Dooree,46,M,508,Florence Nightengale,2025-08-17,2025-08-20,Home
47,ICN100001,Adam,Dooree,46,M,688,Julius Hibbert,2025-09-02,2025-09-06,Rehab
48,ICN100001,Adam,Dooree,46,M,552,Julius Hibbert,2025-09-22,2025-09-26,SNF
49,ICN100001,Adam,Dooree,46,M,516,Julius Hibbert,2025-10-12,2025-10-16,Home with O2
50,ICN100001,Adam,Dooree,46,M,508,Julius Hibbert,2025-11-01,2025-11-05,Home
51,ICN100001,Adam,Dooree,46,M,508,Walter Reed,2025-11-08,2025-11-10,Home
52,ICN100001,Adam,Dooree,46,M,508,Julius Hibbert,2025-11-20,2025-11-23,Home
53,ICN100001,Adam,Dooree,46,M,688,Julius Hibbert,2025-11-24,2025-11-27,Rehab
54,ICN100001,Adam,Dooree,46,M,552,Julius Hibbert,2025-11-28,2025-12-01,SNF
55,ICN100001,Adam,Dooree,46,M,516,Julius Hibbert,2025-12-02,2025-12-05,Home with O2
56,ICN100001,Adam,Dooree,46,M,508,Julius Hibbert,2025-12-06,2025-12-09,Home
57,1025V012345,Dorothy,Martinez,80,F,508,None,2024-04-24,2024-04-29,Home with O2
58,1025V012345,Dorothy,Martinez,80,F,516,Louis Pasteur,2024-12-25,2024-12-29,Rehab
59,1024V901234,Charles,White,75,M,688,None,2024-06-13,2024-06-20,SNF
60,1024V901234,Charles,White,75,M,508,Carl Sagan,2024-12-30,2025-01-03,Home
61,1023V890123,Barbara,Lee,68,F,552,None,2024-08-02,2024-08-08,Home
62,1023V890123,Barbara,Lee,68,F,552,Florence Nightengale,2025-01-09,2025-01-11,Home
63,1022V789012,James,Anderson,62,M,516,None,2024-09-21,2024-09-25,Rehab
64,1022V789012,James,Anderson,62,M,516,Marie Curry,2025-01-29,2025-02-02,Home
65,1021V678901,Patricia,Garcia,59,F,508,None,2024-11-10,2024-11-15,Home
66,1021V678901,Patricia,Garcia,59,F,688,Carl Sagan,2025-03-20,2025-03-24,Home
67,1020V567890,Robert,Thompson,54,M,552,Florence Nightengale,2025-04-19,2025-04-22,Home
68,1019V456789,Linda,Rodriguez,49,F,508,Florence Nightengale,2025-06-18,2025-06-21,Home
69,1018V345678,David,Chen,43,M,688,Carl Sagan,2025-07-18,2025-07-23,Home
70,1017V234567,Sarah,Williams,36,F,552,Florence Nightengale,2025-09-16,2025-09-19,Home
71,1016V123456,Marcus,Johnson,29,M,516,Marie Curry,2025-10-16,2025-10-20,Home with O2

In [29]:
# Sort DataFrame
pt_encounters_df = pt_encounters_df.sort_values(['patient_key', 'discharge_date'])
pt_encounters_df

,patient_key,first,last,age,sex,sta3n,admit_provider,admit_date,discharge_date,disposition
71,1016V123456,Marcus,Johnson,29,M,516,Marie Curry,2025-10-16,2025-10-20,Home with O2
70,1017V234567,Sarah,Williams,36,F,552,Florence Nightengale,2025-09-16,2025-09-19,Home
69,1018V345678,David,Chen,43,M,688,Carl Sagan,2025-07-18,2025-07-23,Home
68,1019V456789,Linda,Rodriguez,49,F,508,Florence Nightengale,2025-06-18,2025-06-21,Home
67,1020V567890,Robert,Thompson,54,M,552,Florence Nightengale,2025-04-19,2025-04-22,Home
...,...,...,...,...,...,...,...,...,...,...
4,ICN100014,Joyce,Kim,70,F,516,Marie Curry,2025-11-17,2025-11-22,SNF
3,ICN100016,Margaret,Wilson,87,F,508,Walter Reed,2024-11-25,2024-12-01,EXPIRED
0,ICN100017,Robert,Anderson,47,M,528,Carl Sagan,2019-06-20,2019-06-28,TRANSFERRED TO MENTAL HEALTH UNIT
1,ICN100017,Robert,Anderson,47,M,528,Carl Sagan,2023-03-10,2023-03-17,HOME WITH OUTPATIENT FOLLOW-UP
2,ICN100017,Robert,Anderson,47,M,528,Julius Hibbert,2024-11-15,2024-11-15,EXPIRED